{% extends 'base.html' %}
{% block content %}
  <h2>{{ ballot.name }}</h2>
  <p>{{ ballot.description }}</p>
  <p>Max Votes: {{ ballot.max_vote }}</p>
  <p>Priority: {{ ballot.priority }}</p>

  <h3>Variants</h3>
  <ul>
    {% for variant in ballot.variants.all %}
      <li>{{ variant.content_object.name }}</li>
    {% endfor %}
  </ul>

  <a href="{% url 'create_variant' ballot.id %}">Add Variant</a>
{% endblock %}
