{% extends 'base.html' %}
{% block content %}
  <h2>Create Variant for {{ ballot.name }}</h2>
  <form method="post">
    {% csrf_token %}
    {% if ballot.variant_type == 'candidate' %}
      <label for="candidate_id">Select Candidate:</label>
      <select name="candidate_id">
        {% for candidate in candidates %}
          <option value="{{ candidate.id }}">{{ candidate.name }}</option>
        {% endfor %}
      </select>
    {% elif ballot.variant_type == 'text_field' %}
      <label for="text_field_id">Select Text Field:</label>
      <select name="text_field_id">
        {% for text_field in text_fields %}
          <option value="{{ text_field.id }}">{{ text_field.name }}</option>
        {% endfor %}
      </select>
    {% endif %}
    <button type="submit">Add Variant</button>
  </form>
{% endblock %}
