{% extends 'root.html' %}
{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <a href="#addnew" data-toggle="modal" class="btn btn-primary btn-sm btn-flat">
            <i class="fa fa-plus"></i> New
          </a>
        </div>
        <div class="box-body">
          <table id="example1" class="table table-bordered">
            <thead>
              <th>Name</th>
              <th>Maximum Votes</th>
              <th>Priority</th>
              <th>Action</th>
            </thead>
            <tbody>
              {% for position in positions %}
              <tr>
                <td>{{ position.name }}</td>
                <td>{{ position.max_vote }}</td>
                <td>{{ position.priority }}</td>
                <td>
                  <button class='btn btn-success btn-sm edit btn-flat' data-id='{{ position.id }}'>
                    <i class='fa fa-edit'></i> Edit
                  </button>
                  <button class='btn btn-danger btn-sm delete btn-flat' data-id='{{ position.id }}'>
                    <i class='fa fa-trash'></i> Delete
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block modal %}
<div class="modal fade" id="addnew">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Add New Position</b></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" action="{% url 'viewPositions' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
            <!-- Existing Form Fields -->
            <div class="form-group has-feedback">
              <label for="name" class="control-label">Name</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Enter position name">
            </div>

            <div class="form-group has-feedback">
              <label for="max_vote" class="control-label">Maximum Votes</label>
              <input type="number" name="max_vote" class="form-control" id="max_vote" placeholder="Enter maximum votes">
            </div>

            <div class="form-group has-feedback">
              <label for="description" class="control-label">Description</label>
              <textarea name="description" class="form-control" id="description" placeholder="Enter description"></textarea>
            </div>

            <div class="form-group has-feedback">
              <label for="priority" class="control-label">Priority</label>
              <input type="number" name="priority" class="form-control" id="priority" placeholder="Enter priority">
            </div>

            <!-- Variant Type Selection -->
            <div class="form-group">
              <label for="variant_type" class="control-label">Variant Type</label>
              <select id="variant_type" class="form-control">
                <option value="">Select Variant Type</option>
                <option value="textfield">Text Field</option>
                <option value="candidate">Candidate</option>
              </select>
            </div>

            <!-- Options Container -->
            <div id="options-container">
              <!-- Options will be dynamically added here -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
              <i class="fa fa-close"></i> Close
            </button>
            <button type="submit" class="btn btn-primary btn-flat" name="add">
              <i class="fa fa-save"></i> Save
            </button>
            <button type="button" id="add-option-btn" class="btn btn-success btn-flat">
              Add Option
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Edit Position</b></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" action="{% url 'updatePosition' %}">
          {% csrf_token %}
          <input type="hidden" class="id" name="id">
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="max_vote" class="col-sm-3 control-label">Maximum Number of Votes</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="max_vote" name="max_vote">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
          <i class="fa fa-close"></i> Close
        </button>
        <button type="submit" class="btn btn-success btn-flat" name="edit">
          <i class="fa fa-check-square-o"></i> Update
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>Deleting...</b></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" action="{% url 'deletePosition' %}">
          <input type="hidden" class="id" name="id">
          {% csrf_token %}
          <div class="text-center">
            <p>DELETE POSITION</p>
            <h2 class="bold fullname"></h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
              <i class="fa fa-close"></i> Close
            </button>
            <button type="submit" class="btn btn-danger btn-flat" name="delete">
              <i class="fa fa-trash"></i> Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}

{% block custom_js %}
<script>
  $(function() {
    // Handle edit and delete buttons
    $(document).on('click', '.edit', function(e) {
      e.preventDefault();
      $('#edit').modal('show');
      var id = $(this).data('id');
      getRow(id);
    });

    $(document).on('click', '.delete', function(e) {
      e.preventDefault();
      $('#delete').modal('show');
      var id = $(this).data('id');
      getRow(id);
    });

    // Handle Add Option Button
    $('#add-option-btn').on('click', function() {
      const variantType = $('#variant_type').val();
      const container = $('#options-container');
      let newOption = '';

      if (variantType === 'textfield') {
        const index = container.children('.option-field').length;
        newOption = `
          <div class="option-field">
            <label for="textfield_${index}">Text Field Option ${index + 1}:</label>
            <textarea name="textfields[]" id="textfield_${index}" class="form-control" rows="3"></textarea>
          </div>
        `;
      } else if (variantType === 'candidate') {
        const index = container.children('.option-field').length;
        newOption = `
          <div class="option-field">
            <label for="candidate_name_${index}">Candidate Name:</label>
            <input type="text" name="candidate_names[]" id="candidate_name_${index}" class="form-control">

            <label for="candidate_bio_${index}">Candidate Bio:</label>
            <textarea name="candidate_bios[]" id="candidate_bio_${index}" class="form-control" rows="3"></textarea>

            <label for="candidate_image_${index}">Candidate Image:</label>
            <input type="file" name="candidate_images[]" id="candidate_image_${index}" class="form-control">
          </div>
        `;
      }

      if (newOption) {
        container.append(newOption);
      } else {
        alert('Please select a variant type.');
      }
    });
  });

  function getRow(id) {
    $.ajax({
      type: 'GET',
      url: '{% url "viewPosition" %}',
      data: { id: id },
      dataType: 'json',
      success: function(response) {
        $('.id').val(response.id);
        $('#max_vote').val(response.max_vote);
        $('#name').val(response.name);
        $('.fullname').html(response.name);
      }
    });
  }
</script>
{% endblock custom_js %}
