{% extends "voting/base.html" %}
{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <b>SiVote system</b>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Register an account</p>
    <form action="{% url 'account_register' %}" method="POST">
                {% csrf_token %}

             
                <div class="modal-body">
                    {% for field in form1  %}
                    <div class="form-group has-feedback">
                        <span class="text-danger">{{field.errors}}</span>
                        {{field.label_tag}}
                        {{field}}
                    </div>
                    {% endfor %}

                    {% for field in form2  %}
                    <div class="form-group has-feedback">
                        <span class="text-danger">{{field.errors}}</span>
                        {{field.label_tag}}
                        {{field}}
                    </div>
                    {% endfor %}


               

                    <div class="row">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" name="login"><i
                                    class="fa fa-sign-in"></i> Register</button>
                        </div>
                        <div class="pull-right col-xs-6">
                            <a  class="btn btn-primary btn-block btn-flat" href="{% url 'account_login' %}"><i class="fa fa-upload"></i> Sign In</a>
                        </div>
                    </div> 
                </div>
        </div>
        </form>
        </div>
            </div>

    <!-- Modal -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'account_register' %}" method="POST">
                    {% csrf_token %}

                    <div class="modal-header">
                        <p class="modal-title" id="register">Create New Account <span class="float-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </span></p>
                       
                    </div>
                    <div class="modal-body">
                        {% for field in form1  %}
                        <div class="form-group has-feedback">
                            {{field.errors}}
                            {{field.label_tag}}
                            {{field}}
                        </div>
                        {% endfor %}

                        {% for field in form2  %}
                        <div class="form-group has-feedback">
                            {{field.errors}}
                            {{field.label_tag}}
                            {{field}}
                        </div>
                        {% endfor %}


                   

                    </div>
                    <div class="modal-footer">
                        <button type="none" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="reg"
                            onclick="return confirm('Are you sure the details provided are correct?\nYou will NOT be allowed to make modifications.')"
                            class="btn btn-primary">Save</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
{% endblock content %} 